.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* .Title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
} */
input{
    width: 250px;
    padding: 10px;
    border-radius: 2rem;
    border: none;
}